#eclipse
**/bin
**/.settings
**/.classpath
*.project

#In case people make their workspace in the repo
/eclipse/

#idea
/.idea
/classes
*.iml

#gradle
/build
/.gradle
/mdk/.gradle
/mdk/build

#occupational hazards
/projects/mcp/
#/projects/clean/
/projects/forge/
/projects/**/build/
/projects/**/out/
#/projects/**/run/
/projects/forge/run/
/projects/**/*.launch
/repo/
/buildSrc
src/generated/resources/.cache/

#Patch rejects
/patches-/
*.patch.rej

# FML changelog
changelog.txt
*.py
*.7z
/logs/

gradle.properties
!/mdk/gradle.properties
/projects/clean/run/crash-reports
/projects/clean/run/logs
/projects/clean/run/saves
/projects/clean/run/screenshots
/projects/clean/run/world
/projects/clean/run/resourcepacks/ChromaHills-128x-1.15-v1
/projects/clean/run/eula.txt
/projects/clean/run/servers.dat
